<ul class="list-group">
    <li class="list-group-item">
        <a href="{% url 'user_panel_page' %}">
            پنل کاربری
        </a>
    </li>
    <li class="list-group-item">
        <a href="{% url 'edit_profile_page' %}">
            ویرایش اطلاعات
        </a>
    </li>
    <li class="list-group-item">
        <a href="{% url 'show_order_page' %}">
            لیست خرید های قبلی
        </a>
    </li>
    <li class="list-group-item">
        <a href="{% url 'change_pass_page' %}">
            تغییر کلمه عبور
        </a>
    </li>
</ul>